.input-lucky{
    height: auto;
    background-image: url("https://hoanghamobile.com/tin-tuc/wp-content/uploads/2023/12/background-tet-17.jpg");
    text-align: center;
    padding: 45px 0px;
    background-size: auto;
    background-position: bottom right;
    

}

