.Luckymoney {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fff;
}

.Container {
     position: relative;
     z-index: 1;
     max-width: 100%;
     width: 100%;
     display: grid;
     gap: 10px;
     padding: 65px 20px 0px 20px;
}
.column-2 {
    grid-template-columns: repeat(2, 1fr);
}
.column-3 {
    grid-template-columns: repeat(3, 1fr); /* 3 cột bằng nhau */
}
.ant-modal-footer {
    display: none;
}
@media (max-width: 480px){
        .Luckymoney{
            height: 700px;
        }  
        
        .Container {
            position: relative;
            z-index: 1;
            max-width: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 3 cột bằng nhau */
            gap: 10px;
            padding: 60px 5px 0px 5px;
        }
    
    }